//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

// Paleta de colores
$grey-hell: #dfe6e9;
$black: #2d3436;

/* CSS HEX */
$charcoal: #233d4dff;
$pumpkin: #fe7f2dff;
$sunglow: #fcca46ff;
$olivine: #a1c181ff;
$zomp: #619b8aff;