//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

// PALETA DE COLORES
$charcoal: #233d4dff;
$pumpkin: #fe7f2dff;
$sunglow: #fcca46ff;
$olivine: #a1c181ff;
$zomp: #619b8aff;
$charcoal-transparent: rgba(35, 61, 77, 0.413);
$sunglow-transparent: rgba(252, 203, 70, 0.53);
$zomp-transparent: rgba(97, 155, 138, 0.176);
$zomp-transparent-carrito: rgba(97, 155, 138, 0.916);
$black: #000000;